body {
  background-color: #e2edff;
}

/* Font  */
@font-face {
  font-family: quicksand;
  src: url("font/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: sofia;
  src: url(font/Sofia-Regular.ttf);
}

@font-face {
  font-family: pacifico;
  src: url("font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: abeezee;
  src: url(font/ABeeZee-Italic.ttf);
}

@font-face {
  font-family: courgette;
  src: url(font/Courgette-Regular.ttf);
}

.back a {
  font-family: sofia;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
}

h1 {
  padding-top: 5px;
}

h2 {
  font-family: sofia;
}

p {
  font-family: quicksand;
}

.back {
  background-color: #0099ff;
  border-radius: 10px;
  width: 100%;
  height: 30px;
}
