.jumbotron {
  padding-top: 6rem;
  background-color: #8d9eff;
}

.foto {
  background-color: #e2edff;
}

#My_Gallery {
  background-color: #8d9eff;
}

.card {
  border-radius: 10px;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: #3b3486;
}

.footer {
  background-color: #3b3486;
}

/* Font  */
@font-face {
  font-family: quicksand;
  src: url("font/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: sofia;
  src: url(font/Sofia-Regular.ttf);
}

@font-face {
  font-family: pacifico;
  src: url("font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: abeezee;
  src: url(font/ABeeZee-Italic.ttf);
}

@font-face {
  font-family: courgette;
  src: url(font/Courgette-Regular.ttf);
}

@font-face {
  font-family: cinzel;
  src: url(font/cinzel.ttf);
}

@font-face {
  font-family: patrick;
  src: url(font/PatrickHand-Regular.ttf);
}

a {
  font-family: sofia;
}

z {
  font-family: sofia;
}

i {
  font-family: abeezee;
}

h1 {
  font-family: courgette;
}

h2 {
  font-family: pacifico;
}

p {
  font-family: quicksand;
}

h5 {
  font-family: cinzel;
  font-weight: 700;
}
