/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: cinzel;
  src: url(font/cinzel.ttf);
}

@font-face {
  font-family: sofia;
  src: url(font/Sofia-Regular.ttf);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --h5-color: white;
  --h1-color: black;
  --card-color: #black;
  --transparent-color-text: #fff;

  /* transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

.hide {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

#back {
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --h5-color: white;
  --img-back-color: #dfd3c3;
  --card-color: #black;
  --transparent-color-text: #fff;
}

/* Awal Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  padding: 13px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}
/* Resuable css */

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Akhir Resuable css */

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-width: 60px;
  font-size: 20px;
}

.sidebar ul {
  height: 50px;
  margin-left: -48px;
  margin-top: 10px;
  list-style: none;
  width: 100%;
  align-items: center;
}

.sidebar ul .icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 50%;
}

.sidebar header .image-text {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 12px;
  transition: var(--tran-05);
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
  color: var(--text-color);
}

.sidebar li a {
  height: 100%;
  width: 1000%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar.close li a:hover .icon,
.sidebar.close li a:hover .text {
  color: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 12px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 12px;
  background: var(--primary-color-light);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 25px;
}

.sidebar.close .icon:hover {
  background-color: var(--primary-color);
  padding: 15px 10px 15px 10px;
  border-radius: 7px;
}
/* ========== Akhir Sidebar ========== */

/* ===== CSS HOME ===== */
.home {
  position: relative;
  left: 280px;
  height: 100vh;
  width: calc(100% - 280px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home h1 {
  color: var(--h1-color);
}

body.dark .home h1 {
  color: var(--text-color);
}

body.dark .home h2 {
  color: var(--text-color);
}

body.dark .home .paragraf {
  color: var(--text-color);
}

body.dark .home .card-text {
  color: var(--card-color);
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

/* ===== AKHIR CSS HOME ====== */

.jumbotron {
  padding-top: 2.5rem;
  background-color: var(--primary-color);
}

/* ===== CSS ABOUT ====== */
#About {
  padding-top: 2rem;
  background-color: var(--body-color);
}

#About .container body.dark path,
svg {
  background-color: var(--body-color);
}
/* ===== AKHIR CSS ABOUT ===== */

/* ===== CSS MY GALLERY ===== */
#My_Gallery {
  background-color: var(--primary-color);
}

#My_Gallery img {
  padding: 10px 10px 10px 10px;
}

body.dark .card {
  background: var(--img-back-color);
}

#My_Gallery .card a:hover {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--tran-05);
}

#My_Gallery .card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--transparent-color-text);
  transition: var(--tran-05);
}

/* ===== AKHIR CSS MY GALLERY ===== */

/* ===== CSS CONTACT ===== */
#Contact {
  padding-top: 6rem;
  background-color: var(--body-color);
}

#Contact .container body.dark,
svg,
path {
  fill: var(--primary-color);
}
/* ===== AKHIR CSS CONTACT ===== */

/* ===== CSS FOOTER ===== */
footer {
  background: var(--primary-color);
  padding: 0px 20px;
}
/*  ===== AKHIR CSS FOOTER ===== */

body.dark .jumbotron path,
svg {
  fill: var(--body-color);
}

h2 {
  margin-top: 4rem;
}

h3 {
  font: 600;
}

#jumbotron {
  padding-top: 4rem;
  color: white;
}

#jumbotron h1 {
  padding-top: 1rem;
  color: white;
}

h5 {
  font-family: cinzel;
}

#instagram a {
  font-family: sofia;
}

#instagram a:hover {
  background-color: var(--primary-color);
  color: var(--h5-color);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: var(--tran-05);
}

/* ===== CSS EVENT JEJEPANGAN ===== */

#event svg {
  background-color: var(--body-color);
}

#event path {
  fill: var(--primary-color);
}

#event .card a {
  background-color: var(--primary-color);
}

#event .modal {
  color: black;
}

#event .modal a:hover {
  background-color: #54b435;
  border-radius: 6px;
  transition: var(--tran-03);
}
/* ===== AKHIR CSS EVENT JEJEPANGAN ===== */

/* ===== CSS MUSIC ===== */
#music {
  background-color: var(--primary-color);
}

#music img {
  padding: 20px 20px;
}

#music svg {
  background-color: var(--body-color);
}

#music .card {
  margin-top: 20px;
}

#music path {
  fill: var(--primary-color);
}
/* ===== AKHIR CSS MUSIC ===== */
