.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#My_Gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* Font  */
@font-face {
  font-family: quicksand;
  src: url("font/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: sofia;
  src: url(font/Sofia-Regular.ttf);
}

@font-face {
  font-family: pacifico;
  src: url("font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: abeezee;
  src: url(font/ABeeZee-Italic.ttf);
}

@font-face {
  font-family: courgette;
  src: url(font/Courgette-Regular.ttf);
}

a {
  font-family: sofia;
}

z {
  font-family: sofia;
}

i {
  font-family: abeezee;
}

h1 {
  font-family: courgette;
}

h2 {
  font-family: pacifico;
}

p {
  font-family: quicksand;
}

.back {
  background-color: #0099ff;
  margin: auto;
  width: 85%;
  height: 40px;
}
